My Questions:

Questions that helped me select My Dataset:

1. What value can Machine Learning add to my work?

Data Wrangling Questions:

2. Is the data clean?

Exploratory Data Analysis Questions:

3. What products are most selling? (Rationale: to know what products to produce more of)

4. What are the best performing regions? (Rationale: to know what regions to send more products to)

5. What are the best performing Channels? (Rationale: to know which channel to more send products through)

6. What are the best-performing Sales Employees? (Rationale: To recognise the high performing people and reward them as a means of motivating the rest)

7. What are the best performing BP? (Rationale: To do our best to keep our best Customers)

The Answers

1. What value can Machine Learning add to my work?

I noted that one of our clients struggles with analysis of their transaction data. They would like to make better decisions for their business going forward. Issues to do with, what products can we produce more of, how can we identify and reward our best performing sales employees, how are our channels performing. How are we doing in the different regions we operate in? Given the opportunity that this course has provided us with, I think this is a way Machine learning can add value to my work. (ie: through applying techniques we are learning to satisfy the desires of the client)

The Transactions Dataset

In [1]:
import pandas as pd

In [2]:
transactions = pd.read_excel('transactions.xlsx')

In [3]:
transactions.head()

,Transaction Number,Origin No.,Posting Date,Due Date,Month-YY,BP Code,BP Name,Sales Employee Name,Item No.,Item Description,...,Product Category,Selling Price,Actual Quantity Sold,Sales Value,Doc. Type,Region,Channel,Payment Terms,Gross Profit,Week
0,481205,53133,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102009,Chairs - Easy - White,...,Furniture,20640.403,50.0,1032020.15,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,403820.15,Wk5
1,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102012,Chairs - Easy - Green,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5
2,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102014,Chairs - Easy - Grey,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5
3,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102070,Chairs - Easy - Clip cap blue,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5
4,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102079,Chairs - Easy - Purple,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5

2. Is the data clean?

Let's Start by Validating the datatypes:

In [4]:
def validateDatatype():    
    myStrings = ['Transaction Number','BP Code','BP Name','Sales Employee Name','Item No.','Item Description','Item Subcategory','Product Category','Region','Channel']
    myDates = ['Posting Date']
    myNumbers = ['Selling Price','Actual Quantity Sold','Sales Value','Gross Profit']
    
    # Validate data types
    foundError = False
    for index, row in transactions.iterrows():
        for field in myStrings:
            if not isinstance(row[field], str):
                print(f"Error: {field} in row {index} should be a string, but is {type(row[field])}")
                foundError = True
                break
    
        for field in myDates:
            try:
                pd.to_datetime(row[field])
            except ValueError:
                print(f"Error: {field} in row {index} should be a date, but is invalid")
                foundError = True
                break
    
        for field in myNumbers:
            try:
                float(row[field])
            except ValueError:
                print(f"Error: {field} in row {index} should be a number, but is {row[field]}")
                foundError = True
                break
        if(foundError):
            break
    if(not foundError):
        print("None")

validateDatatype()

Error: Transaction Number in row 0 should be a string, but is <class 'int'>

Converting Transaction Number Field Datatype from int to String

In [5]:
transactions['Transaction Number'] = transactions['Transaction Number'].astype(str)

#lets test again
validateDatatype()

Error: Product Category in row 7 should be a string, but is <class 'int'>

In [6]:
transactions['Product Category'] = transactions['Product Category'].astype(str)
#lets test again
validateDatatype()

None

Let's Check for leading or trailing spaces:

In [7]:
if transactions['BP Code'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [8]:
if transactions['BP Name'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [9]:
if transactions['Sales Employee Name'].str.contains(r'^\s|\s$', regex=True).any():
    print("Extra spaces found!")
else:
    print("None")

None

In [10]:
if transactions['Item No.'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [11]:
if transactions['Item Description'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [12]:
if transactions['Item Subcategory'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [13]:
if transactions['Product Category'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [14]:
if transactions['Region'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [15]:
if transactions['Channel'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

Next, Lets Check for empty strings:

In [16]:
def checkEmpty():    
    myStrings = ['Transaction Number','BP Code','BP Name','Sales Employee Name','Item No.','Item Description','Item Subcategory','Product Category','Region','Channel']
    myDates = ['Posting Date']
    myNumbers = ['Selling Price','Actual Quantity Sold','Sales Value','Gross Profit']

    foundError = False
    for text in myStrings:
        if transactions[text].isnull().any() or transactions[text].eq("").any():
            print("Empty string found!")
            foundError = True
            break

    for text in myDates:
        if transactions[text].isnull().any() or transactions[text].eq("").any():
            print("Empty date found!")
            foundError = True
            break

    for text in myNumbers:
        if transactions[text].isnull().any() or transactions[text].eq("").any():
            print("Empty date found!")
            foundError = True
            break

    if(not foundError):
        print("None")
checkEmpty()

None

Next, Lets Check for duplicates:

In [17]:
duplicates = transactions[transactions.duplicated()]

# Display the duplicates
print(duplicates)

     Transaction Number  Origin No. Posting Date             Due Date  \
363              368981       42119   2023-10-03  2023-03-10 00:00:00
399              368890       42108   2023-09-03  2023-03-09 00:00:00
1987             479952       53056   2024-01-30             30/01/24
2199             472342       52292   2024-01-06             06/01/24
2322             470990       52241   2024-01-03             03/01/24
2489             369573       42188   2023-11-03  2023-03-11 00:00:00
2523             369568       42184   2023-11-03  2023-03-11 00:00:00
3238             366979       41934   2023-03-03  2023-03-03 00:00:00
3297             366861       41916   2023-03-03  2023-03-03 00:00:00
4122             357905       41074   2023-08-02  2023-02-08 00:00:00
4187             357510       41051   2023-07-02  2023-02-07 00:00:00
4188             357510       41051   2023-07-02  2023-02-07 00:00:00
4189             357510       41051   2023-07-02  2023-02-07 00:00:00
4535             355977       40939   2023-04-02  2023-02-04 00:00:00
4747             355059       40854   2023-02-02  2023-02-02 00:00:00
4903             367761       41990   2023-06-03  2023-03-06 00:00:00
4999             358944       41166   2023-10-02  2023-02-10 00:00:00
5095             355940       40937   2023-04-02  2023-02-04 00:00:00
5389             480214       53081   2024-01-31  2024-01-03 00:00:00
5392             480214       53081   2024-01-31  2024-01-03 00:00:00
5812             471012       52247   2024-01-04             03/02/24
5849             369205       42136   2023-10-03  2023-03-24 00:00:00
5871             368748       42077   2023-09-03  2023-03-23 00:00:00
5959             368294       42035   2023-07-03  2023-04-06 00:00:00
6579             356112       40967   2023-04-02  2023-02-04 00:00:00
6791             480548       53117   2024-01-31             31/01/24
7041             369572       42187   2023-11-03  2023-03-11 00:00:00

     Month-YY   BP Code                                            BP Name  \
363    Mar-23  CINS0767                    HAN & IVA SOUVENIR DOGS LIMITED
399    Mar-23  CIND0629                          FACTORY OUTLET CASH SALES
1987   Jan-24  CDIS0006                        RONAM INTERNATIONAL LIMITED
2199   Jan-24  CDIS0003                                  MEWA DUCU (U) LTD
2322   Jan-24  CDIS0705  VESOM PLASTICS AND GENERAL MERCHANDISE SMC LIM...
2489   Mar-23  CDIS0711                                Mr. STEVEN SERUWAGI
2523   Mar-23  CDIS0016                                   Mr. JACKSON OUMA
3238   Mar-23  CDIS0006                        RONAM INTERNATIONAL LIMITED
3297   Mar-23  CDIS0705  VESOM PLASTICS AND GENERAL MERCHANDISE SMC LIM...
4122   Feb-23  CDIS0006                        RONAM INTERNATIONAL LIMITED
4187   Feb-23  CDIS0008                   SEVEN EAGLES INVESTMENTS LIMITED
4188   Feb-23  CDIS0008                   SEVEN EAGLES INVESTMENTS LIMITED
4189   Feb-23  CDIS0008                   SEVEN EAGLES INVESTMENTS LIMITED
4535   Feb-23  CDIS0002                          EQUIPCARE INVESTMENTS LTD
4747   Feb-23  CDIS0006                        RONAM INTERNATIONAL LIMITED
4903   Mar-23  CINS0652                            TONA STAR PRODUCTS  LTD
4999   Feb-23  CINS0652                            TONA STAR PRODUCTS  LTD
5095   Feb-23  CINS0555        PROGRESS EAST AFRICA BUSINESS GROUP LIMITED
5389   Jan-24  CSUP0079                             TANGO SHOPPERS SMC LTD
5392   Jan-24  CSUP0079                             TANGO SHOPPERS SMC LTD
5812   Jan-24  CSUP0083                           CAPITAL SHOPPERS LIMITED
5849   Mar-23  CINS0811                               COPIA UGANDA LIMITED
5871   Mar-23  CSUP0041                              D & M SUPERMARKET LTD
5959   Mar-23  CSUP0083                           CAPITAL SHOPPERS LIMITED
6579   Feb-23  CSUP0023                       BESTBUY SUPERMARKETS LIMITED
6791   Jan-24  CIND0826                                UMA OUTLET - RETAIL
7041   Mar-23  CIND0750                                   UMA OUTLET SALES

      Sales Employee Name  Item No.  \
363   -No Sales Employee-  IN203019
399      Sheilla Atuhaire  IN205001
1987      Namutebi Phiona  IN204051
2199         Moses Wamono  IN102070
2322      Mirembe Harriet  IN102002
2489        Nankya Lilian  IN109017
2523        Nankya Lilian  IN109017
3238      Namutebi Phiona  IN108004
3297      Mirembe Harriet  IN108004
4122      Namutebi Phiona  IN203006
4187        Nankya Lilian  IN204070
4188        Nankya Lilian  IN204004
4189        Nankya Lilian  IN110004
4535      Mirembe Harriet  IN108004
4747      Namutebi Phiona  IN203006
4903  -No Sales Employee-  IN203012
4999  -No Sales Employee-  IN203012
5095  -No Sales Employee-  IN203030
5389  -No Sales Employee-  IN204051
5392  -No Sales Employee-  IN204051
5812  -No Sales Employee-  IN203006
5849  -No Sales Employee-  IN205001
5871     Jackline Nantaba  IN203006
5959  -No Sales Employee-  IN203006
6579  -No Sales Employee-  IN203006
6791        Doreen Baraba  IN204051
7041     Jackline Nantaba  IN111025

                                       Item Description  ...  \
363   Jerry Cans - 5 ltr 230gms - Opaque - without c...  ...
399                         Jerrican Cover 20 ltr - Red  ...
1987          Bucket Handle Wire  4.5 ltr. (Pcs) 33.6gm  ...
2199                      Chairs - Easy - Clip cap blue  ...
2322                     Chairs - Legend - Clipcap Blue  ...
2489                    Soup  plate (pc) - 60gms - Blue  ...
2523                    Soup  plate (pc) - 60gms - Blue  ...
3238  Tooth brush-Adult (Classic Cardboard) - 24pkts...  ...
3297  Tooth brush-Adult (Classic Cardboard) - 24pkts...  ...
4122   Jerrican Cover 3 ltr Side Handle and 5 ltr - Red  ...
4187            Bucket 10 ltr - P/Green - without cover  ...
4188                      Bucket Cover 10 ltr - P/Green  ...
4189                            Bucket 10 ltr - P/Green  ...
4535  Tooth brush-Adult (Classic Cardboard) - 24pkts...  ...
4747   Jerrican Cover 3 ltr Side Handle and 5 ltr - Red  ...
4903            Jerrican Cover 1 ltr Round Bottle - Red  ...
4999            Jerrican Cover 1 ltr Round Bottle - Red  ...
5095  Jerry Cans -1ltr Round Bottle Clear - without ...  ...
5389          Bucket Handle Wire  4.5 ltr. (Pcs) 33.6gm  ...
5392          Bucket Handle Wire  4.5 ltr. (Pcs) 33.6gm  ...
5812   Jerrican Cover 3 ltr Side Handle and 5 ltr - Red  ...
5849                        Jerrican Cover 20 ltr - Red  ...
5871   Jerrican Cover 3 ltr Side Handle and 5 ltr - Red  ...
5959   Jerrican Cover 3 ltr Side Handle and 5 ltr - Red  ...
6579   Jerrican Cover 3 ltr Side Handle and 5 ltr - Red  ...
6791          Bucket Handle Wire  4.5 ltr. (Pcs) 33.6gm  ...
7041                Basin -Round -15 ltr  VIRGIN - Blue  ...

       Product Category Selling Price  Actual Quantity Sold  Sales Value  \
363   Packaging Bottles        0.0000                  50.0         0.00
399                   0        0.0000                 100.0         0.00
1987                  0        0.0000                 100.0         0.00
2199          Furniture    18098.0302                 100.0   1809803.02
2322          Furniture    18092.7030                  50.0    904635.15
2489          Tableware      541.6873                 720.0    390014.92
2523          Tableware      541.6873                1200.0    650024.87
3238             Dental      284.2083               28800.0   8185200.51
3297             Dental      284.2083               14400.0   4092600.25
4122                  0        0.0000                  50.0         0.00
4187            Buckets        0.0000                 150.0         0.00
4188                  0        0.0000                 150.0         0.00
4189            Buckets     3981.2825                 150.0    597192.38
4535             Dental      284.2083               14400.0   4092600.25
4747                  0        0.0000                  50.0         0.00
4903                  0        0.0000                 600.0         0.00
4999                  0        0.0000                 400.0         0.00
5095  Packaging Bottles        0.0000                 200.0         0.00
5389                  0        0.0000                   2.0         0.00
5392                  0        0.0000                   2.0         0.00
5812                  0        0.0000                  50.0         0.00
5849                  0        0.0000                 200.0         0.00
5871                  0        0.0000                  12.0         0.00
5959                  0        0.0000                  40.0         0.00
6579                  0        0.0000                  30.0         0.00
6791                  0        0.0000                   5.0         0.00
7041             Basins     4284.8931                   1.0      4284.89

      Doc. Type            Region           Channel   Payment Terms  \
363          IN  BUGOLOBI WALKINS  BUGOLOBI WALKINS          C_Cash
399          IN  BUGOLOBI WALKINS  BUGOLOBI WALKINS          C_Cash
1987         IN     SOUTH CENTRAL      DISTRIBUTION          C_Cash
2199         IN          NORTHERN      DISTRIBUTION          C_Cash
2322         IN     NORTH CENTRAL      DISTRIBUTION          C_Cash
2489         IN     SOUTH CENTRAL      DISTRIBUTION          C_Cash
2523         IN           EASTERN      DISTRIBUTION  - Cash Basic -
3238         IN     SOUTH CENTRAL      DISTRIBUTION          C_Cash
3297         IN     NORTH CENTRAL      DISTRIBUTION          C_Cash
4122         IN     SOUTH CENTRAL      DISTRIBUTION          C_Cash
4187         IN           EASTERN      DISTRIBUTION          C_Cash
4188         IN           EASTERN      DISTRIBUTION          C_Cash
4189         IN           EASTERN      DISTRIBUTION          C_Cash
4535         IN     NORTH CENTRAL      DISTRIBUTION          C_Cash
4747         IN     SOUTH CENTRAL      DISTRIBUTION          C_Cash
4903         IN       INSTITUTION       INSTITUTION          C_Cash
4999         IN       INSTITUTION       INSTITUTION          C_Cash
5095         IN       INSTITUTION       INSTITUTION          C_Cash
5389         IN      SUPERMARKETS      SUPERMARKETS         C_Net30
5392         IN      SUPERMARKETS      SUPERMARKETS         C_Net30
5812         IN      SUPERMARKETS      SUPERMARKETS         C_Net30
5849         IN      SUPERMARKETS      SUPERMARKETS         C_Net14
5871         IN      SUPERMARKETS      SUPERMARKETS         C_Net14
5959         IN      SUPERMARKETS      SUPERMARKETS         C_Net30
6579         IN      SUPERMARKETS      SUPERMARKETS  - Cash Basic -
6791         IN       UMA WALKINS       UMA Walkins          C_Cash
7041         IN       UMA WALKINS       UMA Walkins          C_Cash

     Gross Profit  Week
363          0.00  Wk10
399          0.00  Wk10
1987         0.00   Wk5
2199    553403.02   Wk1
2322    176535.15   Wk1
2489     34334.92  Wk10
2523     57224.87  Wk10
3238   2137200.51   Wk9
3297   1068600.25   Wk9
4122         0.00   Wk6
4187         0.00   Wk6
4188         0.00   Wk6
4189    597192.38   Wk6
4535   1068600.25   Wk5
4747         0.00   Wk5
4903         0.00  Wk10
4999         0.00   Wk6
5095         0.00   Wk5
5389         0.00   Wk5
5392         0.00   Wk5
5812         0.00   Wk1
5849         0.00  Wk10
5871         0.00  Wk10
5959         0.00  Wk10
6579         0.00   Wk5
6791         0.00   Wk5
7041       881.89  Wk10

[27 rows x 21 columns]

In [18]:
#dropping the duplicates
transactions = transactions.drop_duplicates()

#check for duplicates again
duplicates = transactions[transactions.duplicated()]

# Display the duplicates
print(duplicates)

Empty DataFrame
Columns: [Transaction Number, Origin No., Posting Date, Due Date, Month-YY, BP Code, BP Name, Sales Employee Name, Item No., Item Description, Item Subcategory, Product Category, Selling Price, Actual Quantity Sold, Sales Value, Doc. Type, Region, Channel, Payment Terms, Gross Profit, Week]
Index: []

[0 rows x 21 columns]

Lets replace blanks with Not Specified if any

In [28]:
transactions = transactions.replace('', pd.NA).fillna('Not specified')
transactions = transactions.replace('nan', pd.NA).fillna('Not specified')

Lets Check the values in the Category fields to ensure they are sensible since they will be

In [29]:
transactions['BP Name'].unique()

array(['UBL OUTLET - RETAIL', 'JANINE SERVICES LTD',
       'BASE 1 OUTLET - RETAIL', 'BASE 1 OUTLET - WHOLESALE',
       'UBL OUTLET - WHOLESALE', 'NAKASERO HOSPITAL LIMITED',
       'CIVTEC AFRICA LIMITED', 'FACTORY OUTLET CASH SALES',
       'NHOP STAFF MEMBERS', 'FLOCKLINE CONSULTS LIMITED',
       'HAN & IVA SOUVENIR DOGS LIMITED', 'TERRAIN SERVICES LIMITED',
       'CASH SALES WHOLESALE', 'CREATIVE DIRECTORS',
       'KOOKEE ENTERPRISES LIMITED', 'MISS EPHRANCE NAMATUNGO',
       'SILLAH LIMITED', 'FENIX INTERNATIONAL UGANDA LIMITED',
       'LEADCOM UGANDA LIMITED', 'INDIGO HOSPITALITY LIMITED',
       'BEST CERAMICS UGANDA LIMITED', 'INPUTI LTD',
       'NILE BREWERIES LIMITED', 'COCA-COLA BEVERAGES UGANDA LIMITED',
       'MS KATE TUSIIME', 'RONAM INTERNATIONAL LIMITED',
       'Mr. ALEX MUHUMUZA', 'Mr. ELIOD KANSIIME',
       'VESOM PLASTICS AND GENERAL MERCHANDISE SMC LIMITED',
       'MEWA DUCU ENTERPRISES LIMITED', 'EQUIPCARE INVESTMENTS LTD',
       'ANTHERBETH ENTERPRISES (U) LTD', 'Mr. RONALD MBAINE',
       'Mr. BENEFANSI MUWONGE', 'Mr. MAXIMIANO TUSHABOMWE',
       'LUBWAMA NDUGGA LIMITED', 'MEWA DUCU (U) LTD',
       'JESANO TRADERS LTD', 'Mr. TARASISIO GUMISIRIZA',
       'JAN MOHAMMED ENTERPRISES LTD.',
       'KJAMBO COMMODITIES DISTRIBUTORS LIMITED', 'Mr. STEVEN SERUWAGI',
       'BANYWANI HARDWARE CENTRE LTD', 'KIKIB INVESTMENTS LIMITED',
       'Mr. JACKSON OUMA', 'SEAFORD ENTERPRISES LIMITED',
       'VENJIX TECHNOLOGIES LIMITED', 'Mr. JOSEPH TUMWESIGE',
       'CONTACT TELECOM LIMITED', 'ADRIANO TUMUSHABE',
       'SEVEN EAGLES INVESTMENTS LIMITED', 'SMILE DISTRIBUTORS LIMITED',
       'Mr. JUSTINE TUKUNDANE', 'Mr. AMON MUGIZI',
       'YOGIBAPA INVESTMENTS LTD', 'MBALE RESORT HOTEL',
       'GOODWILL SHOPPING CENTRE LTD', 'HINGHANDA ENTERPRISES LIMITED',
       'GEVAS ENTERPRISES LTD', 'DOKOLO CHEAP STORE LIMITED',
       'OASIS WATER AND BEVERAGES INDUSTRIES LTD.',
       'MOVIT PRODUCTS LIMITED',
       'CENTENARY RURAL DEVELOPMENT BANK LIMITED',
       'PIFFANY COMPANY LIMITED', 'ORION CONCEPTS LIMITED',
       'AFRIBON (U) SMC  LIMITED', 'PRIME IMPEX 2001 LIMITED',
       'GLOBO CHEMICALS UGANDA LIMITED', 'PEACOCK PAINTS LTD',
       'SPEKE HOTEL (1996) LIMITED', 'KOLPING HOLDINGS (U) LIMITED',
       'LIXIL Corporation', 'JESA FARM DAIRY LIMITED',
       'CROWN BEVERAGES LIMITED', 'KANSAI PLASCON UGANDA LIMITED',
       'UGANDA BATTERIES LIMITED', 'VISION PLUS ENTERPRISES LIMITED',
       'EVIDENCE ACTION LIMITED', 'TONA STAR PRODUCTS  LTD',
       'SAMEG CHEMICAL PRODUCTS (U) LTD', 'FINANCE TRUST BANK LIMITED',
       'KABIRA COUNTRY CLUB LIMITED',
       'MUGWANYA PREPARATORY SCHOOL - KABOJJA',
       'A & M EXECUTIVE CLEANING SERVICES CO. LIMITED',
       'GREENHILL ACADEMY LTD', 'TRAIN A CHILD INTERNATIONAL LIMITED',
       'FINCA - UGANDA', 'PROGRESS EAST AFRICA BUSINESS GROUP LIMITED',
       'ALEXANDER PERFUMERY LIMITED', 'B.P.C. CHEMICALS LTD.',
       'PEARL DEVELOPMENT GROUP LIMITED', 'ORIGINAL BEST CO.',
       'UMA JENI SALES', 'Mr. EDONY JOHNSON', 'MISS. PHIONAH TURUHUKIRE',
       'Ms. AGATHA NAMUTEBI', 'GUMWE CLIFF SUPPLIES UGANDA LIMITED',
       'MISS. MARGRET MUGISA', 'SANYU 2021 DISTRIBUTES LIMITED',
       'EMBASSY SUPERMARKET(U) LTD', 'WEALZ ENTERPRISES LIMITED',
       'SOMBE SUPERMARKET LTD', 'Mr. ROBERT KIBIRA LUTAAYA',
       'KENJOY ENTERPRISES LIMITED', 'TANGO SHOPPERS SMC LTD',
       'CAPITAL SHOPPERS LIMITED', 'STANDARD SUPERMARKET LIMITED',
       'BENCO LINERS LTD', 'JAZZ SUPERMARKETS LIMITED',
       'FRAINE SUPERMARKET LIMITED', 'PAUFLO FOODS LIMITED',
       'SHOPWISE RETAIL LTD', 'COPIA UGANDA LIMITED',
       'D & M SUPERMARKET LTD', 'PUSHA ONLINE LIMITED',
       'MASTER SUPERMARKET LIMITED', 'HARDWARE WORLD LIMITED',
       'BESTBUY SUPERMARKETS LIMITED', 'DELUXE TRADING SMC LIMITED',
       'MILLENIUM 2000 (U) LIMITED', 'WILSEN SUPERMARKET LIMITED',
       'FRESCO SUPERMARKET LIMITED', 'FREBO SUPERMARKET LIMITED',
       'QUICK PICK SUPERMARKET', 'Ms. VANESSA CAROLINE MWEBESA',
       'RABLINES TRADING COMPANY LIMITED', 'UMA OUTLET - RETAIL',
       'UMA OUTLET - WHOLESALE', 'UMA OUTLET SALES'], dtype=object)

In [30]:
transactions['Sales Employee Name'].unique()

array(['Mercy Zalwango', '-No Sales Employee-', 'Patricia Nakato',
       'Kibirango Tonny', 'Sheilla Atuhaire', 'Nina Namatovu',
       'Ronald Musiriki', 'Herbert Musinguzi', 'Namutebi Phiona',
       'Esiat Emmaneal', 'Esiat Emmanuel', 'Mirembe Harriet',
       'Moses Wamono', 'Amon Namanya', 'Lwanga Harriet', 'Nankya Lilian',
       'Wandera Rogers', 'Tony Kutosi', 'Ninsiima Anitah',
       'Athieno Juliet Constance', 'Edwin Buhire', 'Jackline Nantaba',
       'Kyomuhangi Alice', 'Alice Kyomuhangi', 'Doreen Baraba'],
      dtype=object)

In [31]:
transactions['Product Category'].unique()

array(['Furniture', 'Tableware', 'Buckets', '0', 'Dental', 'Basins',
       'Packaging J/Cans', 'Packaging Crates', 'Packaging Bottles',
       'Writing Instruments', 'Packaging Buckets', 'Agriculture',
       'Baskets', 'Not specified', 'SATO Products', 'Trading Items',
       'Printing', 'Packaging -Film', 'Battery Components'], dtype=object)

In [32]:
#replace the '0' with 'Not specified'
transactions['Product Category'] = transactions['Product Category'].replace('0', 'Not specified')
transactions['Product Category'].unique()

array(['Furniture', 'Tableware', 'Buckets', 'Not specified', 'Dental',
       'Basins', 'Packaging J/Cans', 'Packaging Crates',
       'Packaging Bottles', 'Writing Instruments', 'Packaging Buckets',
       'Agriculture', 'Baskets', 'SATO Products', 'Trading Items',
       'Printing', 'Packaging -Film', 'Battery Components'], dtype=object)

In [33]:
transactions['Region'].unique()

array(['BUGOLOBI WALKINS', 'CRATES', 'MID-WEST', 'SOUTH CENTRAL',
       'SOUTH WEST', 'NORTH CENTRAL', 'NORTHERN', 'EASTERN', 'WEST NILE',
       'EXPORT', 'INSTITUTION', 'UMA WALKINS', 'Related Parties',
       'SUPERMARKETS'], dtype=object)

In [34]:
transactions['Channel'].unique()

array(['BUGOLOBI WALKINS', 'CRATES', 'DISTRIBUTION', 'EXPORT',
       'INSTITUTION', 'JeNi', 'RELATED PARTIES', 'SUPERMARKETS',
       'UMA Walkins'], dtype=object)

In [36]:
#Export clean data to an Excel file
transactions.to_excel('cleaned_data.xlsx', index=False)

2. Is the data clean?

Answer: The data was not clean, But it has been cleaned and a clean copy exported as cleaned_data.xlsx

3. What products are most selling? (Rationale: to know what products to produce more of)