My Questions:

Questions that helped me select My Dataset:

1. What value can Machine Learning add to my work?

Data Wrangling Questions:

2. Is the data clean?

Exploratory Data Analysis Questions:

Exploratory Data Analysis Questions:

3. What products are most selling? (Rationale: to know what products to produce more of)

4. What are the best performing regions? (Rationale: to know what regions to send more products to)

5. What are the best performing Channels? (Rationale: to know which channel to more send products through)

6. What are the best-performing Sales Employees? (Rationale: To recognise the high performing people and reward them as a means of motivating the rest)

7. What are the best performing BP? (Rationale: To do our best to keep our best Customers)

The Answers

1. What value can Machine Learning add to my work?

I noted that one of our clients struggles with analysis of their transaction data. They would like to make better decisions for their business going forward. Issues to do with, what products can we produce more of, how can we identify and reward our best performing sales employees, how are our channels performing. How are we doing in the different regions we operate in? Given the opportunity that this course has provided us with, I think this is a way Machine learning can add value to my work. (ie: through applying techniques we are learning to satisfy the desires of the client)

The Transactions Dataset

In [2]:
import pandas as pd

In [3]:
transactions = pd.read_excel('transactions.xlsx')

In [4]:
transactions.head()

,Transaction Number,Origin No.,Posting Date,Due Date,Month-YY,BP Code,BP Name,Sales Employee Name,Item No.,Item Description,...,Product Category,Selling Price,Actual Quantity Sold,Sales Value,Doc. Type,Region,Channel,Payment Terms,Gross Profit,Week
0,481205,53133,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102009,Chairs - Easy - White,...,Furniture,20640.403,50.0,1032020.15,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,403820.15,Wk5
1,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102012,Chairs - Easy - Green,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5
2,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102014,Chairs - Easy - Grey,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5
3,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102070,Chairs - Easy - Clip cap blue,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5
4,480662,53129,2024-01-31,31/01/24,Jan-24,CIND0824,UBL OUTLET - RETAIL,Mercy Zalwango,IN102079,Chairs - Easy - Purple,...,Furniture,20640.403,2.0,41280.81,IN,BUGOLOBI WALKINS,BUGOLOBI WALKINS,C_Cash,16152.81,Wk5

2. Is the data clean?

Let's Start by Validating the datatypes:

In [5]:
def validateDatatype():    
    myStrings = ['Transaction Number','BP Code','BP Name','Sales Employee Name','Item No.','Item Description','Item Subcategory','Product Category','Region','Channel']
    myDates = ['Posting Date']
    myNumbers = ['Selling Price','Actual Quantity Sold','Sales Value','Gross Profit']
    
    # Validate data types
    foundError = false
    for index, row in transactions.iterrows():
        for field in myStrings:
            if not isinstance(row[field], str):
                print(f"Error: {field} in row {index} should be a string, but is {type(row[field])}")
                foundError = true
                break
    
        for field in myDates:
            try:
                pd.to_datetime(row[field])
            except ValueError:
                print(f"Error: {field} in row {index} should be a date, but is invalid")
                foundError = true
                break
    
        for field in myNumbers:
            try:
                float(row[field])
            except ValueError:
                print(f"Error: {field} in row {index} should be a number, but is {row[field]}")
                foundError = true
                break
        if(foundError):
            break

validateDatatype()

Error: Transaction Number in row 0 should be a string, but is <class 'int'>

Converting Transaction Number Field Datatype from int to String

In [34]:
transactions['Transaction Number'] = transactions['Transaction Number'].astype(str)

#lets test again

Let's Check for leading or trailing spaces:

In [19]:
if transactions['BP Code'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [21]:
if transactions['BP Name'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [22]:
if transactions['Sales Employee Name'].str.contains(r'^\s|\s$', regex=True).any():
    print("Extra spaces found!")
else:
    print("None")

None

In [23]:
if transactions['Item No.'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [24]:
if transactions['Item Description'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [25]:
if transactions['Item Subcategory'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [26]:
if transactions['Product Category'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [27]:
if transactions['Region'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

In [28]:
if transactions['Channel'].str.contains(r'^\s|\s$', regex=True).any():
    print("Spaces found!")
else:
    print("None")

None

Next, Lets Check for empty strings:

In [ ]:
myStrings = ['Transaction Number','BP Code','BP Name','Sales Employee Name','Item No.','Item Description','Item Subcategory','Product Category','Region','Channel']
myDates = ['Posting Date']
myNumbers = ['Selling Price','Actual Quantity Sold','Sales Value','Gross Profit']

if df['text'].isnull().any() or df['text'].eq("").any():
    print("Empty strings found!")